<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wemakeprice.tour.bo.service.store.auth.mapper.AccountMenuMapper">

    <resultMap id="AccountMenuResultMap" type="com.wemakeprice.tour.bo.domain.entity.auth.AccountMenu">
        <id property="menuId" column=""/>
        <result property="accountId" column=""/>
        <result property="readFlag" column=""/>
        <result property="writeFlag" column=""/>
        <association property="auditLog" javaType="com.wemakeprice.tour.bo.common.entity.AuditLog">
            <result property="createdBy" column="created_by"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedBy" column="updated_by"/>
            <result property="updatedAt" column="updated_at"/>
        </association>
    </resultMap>

    <insert id="insertAll">
        insert into tb_account_menu (
        menu_id,
        account_id,
        read_flag,
        write_flag,
        created_by,
        created_at,
        updated_by,
        updated_at)
        values
        <foreach collection="accountMenus" item="item" separator=",">
            (#{item.menuId},
            #{item.accountId},
            #{item.readFlag},
            #{item.writeFlag},
            #{item.auditLog.createdBy},
            now(),
            #{item.auditLog.createdBy},
            now())
        </foreach>
    </insert>

    <select id="countByAccountId" resultType="int">
        select count(*)
        from tb_account_menu
        where account_id = #{accountId}
    </select>

    <select id="selectByCondition" parameterType="map"
            resultType="com.wemakeprice.tour.bo.domain.entity.auth.AccountMenu">
        select menu_id,
        account_id,
        read_flag,
        write_flag,
        created_by,
        created_at,
        updated_by,
        updated_at
        from tb_account_menu
        <where>
            <if test="condition.menuId != null">
                menu_id = #{condition.menuId}
            </if>
            <if test="condition.accountId != null and condition.accountId != ''">
                and account_id = #{condition.accountId}
            </if>
        </where>
    </select>

    <delete id="deleteAllByAccountIds">
        delete
        from tb_account_menu
        where account_id in
        <foreach collection="accountIds" item="accountId" open="(" separator="," close=")">
            #{accountId}
        </foreach>
    </delete>

</mapper>
